@import "../../common/colors.scss";

.movie-list,
.series-list {
  margin: 20px 0px;
  h2 {
    color: $font-secondary;
    margin-bottom: 10px;
    font-weight: 400;
    
  }
}
.movie-list,
.series-list{
  margin-left: 10px;
}
// .movie-container {
//   display: grid;
//   grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
//   grid-gap: 25px;
// }